@font-face {
  font-family: "gobold_boldregular";
  src: url("../fonts/gobold/gobold_bold-webfont.woff2") format("woff2"), url("../fonts/gobold/gobold_bold-webfont.woff") format("woff"), url("../fonts/gobold/gobold_bold-webfont.ttf") format("truetype"), url("../fonts/gobold/gobold_bold-webfont.svg#gobold_boldregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "goboldregular";
  src: url("../fonts/gobold/gobold_regular-webfont.woff2") format("woff2"), url("../fonts/gobold/gobold_regular-webfont.woff") format("woff"), url("../fonts/gobold/gobold_regular-webfont.ttf") format("truetype"), url("../fonts/gobold/gobold_regular-webfont.svg#goboldregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background: url("../img/body-bg.png");
  background-attachement: fixed;
  background-size: cover;
}

.welcome, .dashboard {
  height: 0px;
}

.gobold {
  font-family: "goboldregular";
}
.gobold span {
  border-bottom: 2px solid #333;
  padding-bottom: 8px;
}

.login-wrapper .login-left {
  flex-shrink: 0;
}
.login-wrapper .login-form {
  background: #eaeaea;
  border-radius: 0 10px 10px 0;
  padding: 20px;
  box-shadow: 10px 10px 10px #000;
  flex-shrink: 0;
  flex-grow: 1;
  height: 90%;
}
.login-wrapper .login-form h1 {
  text-decoration: underline;
  font-family: "goboldregular";
  font-size: 22px;
  width: 100%;
}

.welcome-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.welcome-card h1 {
  font-size: 24px;
  font-family: "goboldregular";
  text-decoration: underline;
}
.welcome-card h2 {
  font-size: 18px;
}
.welcome-card h3 {
  font-size: 16px;
}
.welcome-card .dish-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.welcome-card .dish-wrapper .dish-picture {
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
}
.welcome-card .dish-wrapper .dish-picture img {
  width: 100%;
}
.welcome-card .dish-wrapper .dish-description {
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ccc;
  border-left: 0px;
  border-radius: 0 5px 5px 0;
  overflow: hidden;
}
.welcome-card .dish-wrapper .dish-description .dish-suggestion {
  color: #cca112;
  font-weight: bold;
}
.welcome-card .dish-wrapper .dish-description * {
  width: 100%;
}
.welcome-card .chef-greetings p {
  font-family: times;
  font-size: 18px;
  margin-top: 30px;
}

.waiter-dashboard {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
}
.waiter-dashboard .left-nav {
  background: #333;
  color: white;
  border-radius: 10px 0 0 10px;
}
.waiter-dashboard .left-nav .nav-logo {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.waiter-dashboard .left-nav ul {
  list-style: none;
  list-style: none;
  padding-left: 0px;
  margin-left: -15px;
  margin-top: 30px;
  background: #222;
  width: calc(100% + 30px);
}
.waiter-dashboard .left-nav ul li {
  height: 30px;
  font-family: goboldregular;
  font-size: 16px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.waiter-dashboard .left-nav ul li.active {
  border-left: 2px solid #cca112;
  background: #111;
}
.waiter-dashboard .left-nav ul li:hover {
  background: #111;
  cursor: pointer;
}
.waiter-dashboard .right-dashboard .dashboard-header {
  padding: 20px 30px 10px 10px;
  font-weight: bold;
  color: #777;
}
.waiter-dashboard .right-dashboard .dashboard-header img {
  width: 30px;
  border-radius: 30px;
  margin-left: 10px;
}
.waiter-dashboard .right-dashboard .dashboard-form {
  padding-right: 20px;
}
.waiter-dashboard .right-dashboard .dashboard-form h1 {
  font-size: 22px;
  font-family: "goboldregular";
}
.waiter-dashboard .right-dashboard .dashboard-form h1 span {
  border-bottom: 2px solid #333;
  padding-bottom: 8px;
}
.waiter-dashboard .right-dashboard .table-assignment h1 {
  font-size: 22px;
  font-family: "goboldregular";
}
.waiter-dashboard .right-dashboard .table-assignment h1 span {
  border-bottom: 2px solid #333;
  padding-bottom: 8px;
}
.waiter-dashboard .right-dashboard .table-assignment .table-map {
  width: calc(100% - 20px);
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background: white;
  border-radius: 5px;
  justify-content: flex-start;
}
.waiter-dashboard .right-dashboard .table-assignment .table-map .table-icon {
  width: 60px;
  height: 60px;
  margin: 3%;
  background: url("../img/table-icon-black.png");
  background-size: 100%;
  color: white;
  text-align: center;
  line-height: 3.6;
  border-radius: 5px;
  cursor: pointer;
}
.waiter-dashboard .right-dashboard .table-assignment .table-map .table-icon.occupied {
  background: url("../img/table-icon-red.png");
  background-size: 100%;
}
.waiter-dashboard .right-dashboard .table-assignment .table-map .table-icon.active {
  background: url("../img/table-icon-green.png");
  background-size: 100%;
}
.waiter-dashboard .right-dashboard .table-assignment p {
  text-align: right;
  width: calc(100% - 20px);
  margin-top: 20px;
}
.waiter-dashboard .right-dashboard .table-assignment p input {
  margin-right: 15px;
  position: relative;
}
.waiter-dashboard .right-dashboard .table-assignment p input::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 5px solid #aaa;
  display: block;
  border-radius: 20px;
  background: white;
  position: absolute;
  top: -5px;
  left: -2px;
  transition: all 0.5s;
}
.waiter-dashboard .right-dashboard .table-assignment p input:checked::before {
  border: 5px solid #0ab117;
}
.waiter-dashboard .right-dashboard .btn-success {
  margin-right: 20px;
}
.waiter-dashboard .right-dashboard .client-form {
  width: calc(100% - 20px);
  display: flex;
}
.waiter-dashboard .right-dashboard .client-form .custom-dd-wrapper {
  position: relative;
  border-radius: 5px;
  background: white;
  padding: 10px;
  height: fit-content;
  flex-shrink: 0;
  flex-grow: 1;
}
.waiter-dashboard .right-dashboard .client-form .custom-dd-wrapper:first-of-type {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid #ccc;
}
.waiter-dashboard .right-dashboard .client-form .custom-dd-wrapper:last-of-type {
  border-radius: 0 5px 5px 0;
}
.waiter-dashboard .right-dashboard .client-form .custom-dd-wrapper .select-title {
  font-size: 10px;
  width: 100%;
  display: block;
}
.waiter-dashboard .right-dashboard .client-form .custom-dd-wrapper .selected-option {
  font-size: 12px;
  color: #aaa;
  display: block;
}
.waiter-dashboard .right-dashboard .client-form .custom-dd-wrapper .chevron {
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #cca112;
  float: right;
  margin-top: -12px;
  transition: all 0.5s;
}
.waiter-dashboard .right-dashboard .client-form .custom-dd-wrapper .custom-options {
  list-style: none;
  padding: 0px;
  font-size: 12px;
  cursor: pointer;
  margin: 0px;
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  background: white;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #ccc;
  display: none;
}
.waiter-dashboard .right-dashboard .client-form .custom-dd-wrapper .custom-options li {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  overflow: hidden;
}
.waiter-dashboard .right-dashboard .client-form .custom-dd-wrapper .custom-options li:hover {
  text-decoration: underline;
  color: #cca112;
  cursor: pointer;
}
.waiter-dashboard .right-dashboard .client-form .custom-dd-wrapper.open .chevron {
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #cca112;
  border-top: 0px;
  float: right;
  margin-top: -12px;
}

#codeModal .modal-header {
  border-bottom: none;
}
#codeModal .modal-body {
  border-bottom: none;
}
#codeModal .modal-footer {
  border-top: none;
}
#codeModal .client-code {
  margin: 20px auto 20px auto;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
}

/*# sourceMappingURL=main.css.map */
